/*
section.sidebar {
    position: fixed;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
}
*/

.skin-blue .sidebar-menu>li.header {
    color: #FFF;
    font-size: 15px;
    background: #1a2226;
}
.datepicker{z-index:1151 !important;}
a.editable:after {
    content: "\f0d7";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 14px;
    padding-left: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}