<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu">
            <li class="header">GENERAL</li>
            <li class="active"><a href="home_page.html"><i class="nav-icon fa fa-home"></i> <span>Dashboard</span></a></li>

            <li>
                <a href="#">
                    <i class="nav-icon fa fa-plane"></i> <span>Tours</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open">
                    <li><a href="tours.html"><i class="fa fa-circle-o"></i> List tour</a></li>
                    <li><a href="tours_management.html"><i class="fa fa-circle-o"></i> Manage tour</a></li>
                    <li><a href="tours_create.html"><i class="fa fa-circle-o"></i> Create tour</a></li>
                    <li><a href="tours_create_upgrade.html"><i class="fa fa-circle-o"></i> Create Upgrade</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>Variations</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu menu-open">
                        <li><a href="variations.html"><i class="fa fa-circle-o"></i> Variations List</a></li>
                        <li><a href="variations_create.html"><i class="fa fa-circle-o"></i> Create variations</a></li>
                    </ul>
                </a>
            </li>

            <li><a href="reporting.html"><i class="fa fa-bar-chart"></i> <span>Reporting</span></a></li>
            <li><a href="users.html"><i class="fa fa-users"></i> <span>User Accounts</span></a></li>

            <li><a href="coupons.html"><i class="fa fa-gift"></i> <span>Coupons</span></a></li>

            <li>
                <a href="#">
                    <i class="fa fa-certificate"></i> <span>Discounts</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu menu-open">
                        <li><a href="discounts.html"><i class="fa fa-circle-o"></i> Discounts List</a></li>
                        <li><a href="discounts_view.html"><i class="fa fa-circle-o"></i> Discounts View</a></li>
                    </ul>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="nav-icon fa fa-ticket"></i> <span>Tickets</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu menu-open">
                        <li><a href="tickets.html"><i class="fa fa-circle-o"></i> Tickets list</a></li>
                        <li><a href="tickets_create.html"><i class="fa fa-circle-o"></i> Create ticket</a></li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="nav-icon fa fa-cubes"></i> <span>Instances</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu menu-open">
                        <li><a href="instances.html"><i class="fa fa-circle-o"></i> Instances List</a></li>
                        <li><a href="instances_view.html"><i class="fa fa-circle-o"></i> Instances View</a></li>
                    </ul>
                </a>
            </li>



            <li><a href="guest_list.html"><i class="fa fa-users"></i> <span>Guest List</span></a></li>


            <li><a href="availability.html"><i class="fa fa-calendar"></i> <span>Availability</span></a></li>
            <li><a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>

            <li>
                <a href="#">
                    <i class="nav-icon fa fa fa-shopping-cart"></i> <span>Bookings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu menu-open">
                        <li><a href="bookings-2.html"><i class="fa fa-circle-o"></i> Bookings List</a></li>
                        <li><a href="booking_details.html"><i class="fa fa-circle-o"></i> Bookings Details</a></li>
                        <li><a href="order_details.html"><i class="fa fa-circle-o"></i> Order Details</a></li>
                    </ul>
                </a>
            </li>

            <li><a href="widget.html"><i class="nav-icon fa fa-circle-o"></i><span>Widget</span></a></li>


            <li>
                <a href="#">
                    <i class="nav-icon fa fa-users"></i> <span>Customers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu menu-open">
                        <li><a href="customers.html"><i class="fa fa-circle-o"></i> Customers List</a></li>
                        <li><a href="customers_details.html"><i class="fa fa-circle-o"></i> Customers Details</a></li>
                    </ul>
                </a>
            </li>

            <li><a href="messages.html"><i class="nav-icon fa fa-envelope"></i> <span>Messages</span></a></li>
            <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>

            <li>
                <a href="#">
                    <i class="nav-icon fa fa-cog"></i> <span>Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu menu-open">
                        <li><a href="currencies.html"><i class="fa fa-circle-o"></i> Currencies</a></li>
                        <li><a href="settings.html"><i class="fa fa-circle-o"></i> Global Settings</a></li>
                        <li><a href="notifications_settings.html"><i class="fa fa-circle-o"></i> Notifications Settings</a></li>
                    </ul>
                </a>
            </li>

            <li><a href="login.html"><i class="nav-icon fa fa-circle-o"></i><span>Login</span></a></li>


        </ul>



        <!-- Sidebar Menu -->

        <!--
        <ul class="sidebar-menu">
            <li class="header">TOURS</li>
            <li><a href="#"><i class="fa fa-link"></i><span>Secret Food Tours Paris</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Secret Indian Food Tours</span></a></li>
        </ul>
        -->
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>