<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li><a href="#"><i class="caret-left fa fa-caret-left"></i> <span>Back</span></a></li>
        </ul>

        <br/>
        <br/>

        <ul class="sidebar-menu">
            <li class="header">OPTIONS</li>
            <li class="active"><a href="#"><i class="nav-icon fa fa-home"></i><span>Dashboard</span></a></li>
            <li><a href="#"><i class="nav-icon fa fa-bar-chart"></i><span>Reporting</span></a></li>
        </ul>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">INVENTORY</li>
            <li><a href="#"><i class="nav-icon fa fa-calendar"></i><span>Availability</span></a></li>
            <li><a href="#"><i class="nav-icon fa fa-ticket"></i> <span>Tickets</span></a></li>
            <li><a href="#"><i class="nav-icon fa fa-tags"></i> <span>Vouchers</span></a></li>
        </ul>

        <ul class="sidebar-menu">
            <li class="header">MANAGEMENTS</li>
            <li><a href="#"><i class="nav-icon fa fa-certificate"></i><span>Coupons</span></a></li>
            <li><a href="#"><i class="nav-icon fa fa-cog"></i> <span>Settings</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>